<!-- Wappler include head-page="layouts/cliente" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="areadocliente" appConnect="local" -->
<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Fancy display heading</h1>
            </div>
        </div>
    </div>
</header>
<meta name="ac:route" content="/security/f/area-do-cliente">